.comments{
  padding-top: 100px;
  padding-bottom: 100px;
}
.comments__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}
.comments__title-span {
  color: #008f76;
}
.comments__card-wrapper {
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  max-width: 596px;
}
.comments__cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments__card-title {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 19px;
  color: rgba(33, 33, 33, 0.7);
}
.comments__card-span {
  color: #212121;
}
.comments__card-img-wrapper {
  display: flex;
  align-items: center;
}
.comments__img {
  margin-right: 16px;
}
.comments__card-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.comments__card-text {
  color: #949494;
  font-weight: 400;
  font-size: 16px;
}
